<h1>Countries Index Page</h1>


<% @countries.each do |country| %>
	
	<img class="img" src="<%= country.flag_url %>">
	<h2> <%= country.name %> </h2>
	<p><%= country.language %> - <strong>Population: <%= country.population %></strong></p>
	<p><%= country.leader %></p>
	<p><a href="/countries/<%= country.id %>">SHOW PAGE</a></p>
	<p><a href="/countries/<%= country.id %>/edit">EDIT</a></p>
	<p><a href="/countries/new">NEW</a></p>

	<form action="/countries/<%= country.id %>" method="POST">
		<%= token_tag %>
		<input type="hidden" name="_method" value="DELETE">		
		<input type="submit" value="Delete" class="delete">
	</form>

<% end %>
